.whattodo{
  background-color: white;
  width: 150px;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 2%;
  color:#2c3e50;
  font-weight: bold;
  text-align: center;
  font-size:15px;
  font-family: sans-serif;
}


button:focus {
 outline-style: none;
}

.col-xl-6{
  background-color: #c20021;
  width: 200px;
  height: 100px;
  color:white;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 30px;
}


.suggestion{
  padding-top: 10px;
}


button:hover{ 
  border:none;
}


button:active{
  border:none;
}


.bored{
  margin-top:30px;
  color:white;
  font-size: 45px;
}


.byme{
  position: absolute;
  bottom: 10px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 250px;
  text-align: center;
  color: white;
}
.centertext {
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 100px;
  font-size: 50px;
  font-family: 'Sriracha', cursive;
}

.name {
  color: #fff;
}